services:
  store:
    image: bitnami/postgresql:latest
    container_name: store-pg
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/bitnami/postgresql

volumes:
  postgres_data:
